body{
	background-color: #EEEEEF;
	text-align: center;
}
.container{
	background-color: lightblue;
	width: 80%;
	height: 800px;
	margin: 100px auto 200px auto;
}
.form{
	padding: 100px;
}
#input{
	height: 50px;
	width: 400px;
}
#btn{
	width: 100px;
	height:50px;
}
#output{
	margin: 100px;
}